<div class="users_wrapper">
  <h2 class="heading"><%= @genre.name.capitalize %></h2>
    <div class="row">
      <% if @genre.tracks.any? %>
        <%= render @tracks %>
      <% end %>
    </div>
  </div>
</div>

