<div class="row">
  <div class="col-md-12">
    <p><%= @genre %></p>  
    <% if @genre_tracks %>
      <p><% @genre_tracks.each do |tr| %></p>
      <p><%= tr.name %></p>
      <% end %>
    <% end %>
    
  </div>
</div>
