<h1>SpotifyGenres#index</h1>
<p>Find me in app/views/spotify_genres/index.html.erb</p>
<ul>
  <% SpotifyGenre.select(:name).map(&:name).uniq.each do |genre| %>
 
    <li><%= genre %></li>
  <% end %>
</ul>