<li class='col-md-12'>
  <div class="rewiew_user">
    <%= link_to foto(rewiew.user), rewiew.user, data: { no_turbolink: true } %>
  </div>

  <div class="rewiew_comment">
    <%= rewiew.comment %>
  </div>

  <div class="rewiew_rating" data-score="<%= rewiew.rating %>">
  </div>
</li>