<% if @rewiew.errors.any? %>
  $(".rewiew_errors ul").empty();
  $(".rewiew_errors").show();
  
  <% @rewiew.errors.each do |atr, error| %>
    
    $(".rewiew_errors ul").append("<li><%= atr %> - <%= error %></li>");
  <% end %>
<% else %>
  $(".rewiew_errors").hide();
  $(".rewiew_success").show();
  $(".rewiew_success").html("Thanks for your rewiew!");
  $("#playlist_rewiews ul").append("<%= j render(:partial => 'rewiews/rewiew', :locals => { :rewiew => @rewiew } ) %>");
<% end %>