<div class="signupwraper">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      
      <h2>Dołącz do nas poprzez Spotify</h2>
      
      <%= link_to user_omniauth_authorize_path(:spotify) do %>  
        <i class="fa fa-sign-in">dwdw</i>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>


