<div id="userplaylists">
  <ul class="row">
    <%= div_for(current_user.playlists) do |p| %>
      <li class="col-md-12"> 
        <span class="pull-left">
          <%= p.name %>
        </span>

        <p class="pull-right">
            <%= link_to "tracks", '#', class: 'tracks' %>
        </p>
      </li>
    <% end %>
  </ul>
</div>