<div id="userplaylists">
  <ul class="row">
    <%= div_for(current_user.playlists) do |p| %>
      <li class="col-md-12 usrplay"> 
        <span class="pull-left">
          <span class="count_of_tracks">
              <%= p.count_of_tracks %>
          </span>
          <% if p.ownerlist == p.user.name %>
            <span class="ownerlist">
              <i class='fa fa-user'></i>
            </span>
          <% else %>
            <span class="ownerlist">
             <i class="fa fa-bell-slash"></i>
            </span>           
          <% end %>
            <%= p.name %>
        </span>


        <p class="pull-right">
            tracks
        </p>
        <% unless p.tracks.blank? %>
          <ul class='row ulliststyle'>
            <% p.tracks.each do |tr| %>
              <li class='col-md-12'>
                <%= tr.name %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>