<div class="users_wrapper">
  <h2 class="heading"><%= t('main_site.users.title') %></h2>
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-md-3 col-sm-6">
        <div class="user">
          <p class="text-center"><%= link_to foto(user), user, data: { no_turbolink: true } %></p>
          <p class="user_info">
            <%= link_to user.nick, user, data: { no_turbolink: true } %>
            <br />
            <%= user.rank_explorer ? user.rank_explorer : t('main_site.users.search') %>
          </p>
        </div>
      </div>
    <% end %>
    
  </div>
</div>
