<section class="user_profile edit_account">
  <div class="row">
    <%= render partial: 'shared/user_heading', locals: { user: @user } %>

    <div class="genre-profile col-md-8 col-md-offset-2 text-center">
      <div class="clearfix visible-sm-block visible-xs-block"></div>
      <%= render partial: 'shared/user_navbar', locals: { user: @user } %>

      <h2 class="follow_heading"><%= @user.nick + ' ' + @title %></h2>
      <div class="users follow row">
        <%= render @users %>
      </div>
    </div>

</section>


