<section id="user_profile">
  <div class="row">
    <div class="main_user col-md-8 col-md-offset-2">
        <div class="pull-left hidden-xs hidden-sm">
          <%= foto(@user) %>
        </div>
        <div class="profile-text pull-right">
          <%= @user.name %>
          <p class="traveler text-center"><span>Trance Explorer</span></p>
          <p><%= link_to "Follow", '#', class: 'btn btn-primary btn-small btn-block' %></p>
        </div>
    </div>

    <div class="genre-profile col-md-8 col-md-offset-2 text-center">

      <% if current_user && @user.playlists.blank? %>

        <%= 
          link_to "Import your playlists from spotify", 
          user_playlists_path(current_user), 
          class: 'btn btn-primary btn-block btn-lg' 
        %>

      <% else %>

        <ul class="nav nav-tabs" role="tablist" id="usernav">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
          <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
          <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
          <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">...</div>
          <div role="tabpanel" class="tab-pane" id="profile">.2e1..</div>
          <div role="tabpanel" class="tab-pane" id="messages">.2edd1..</div>
          <div role="tabpanel" class="tab-pane" id="settings">..1221.</div>
        </div>

      <% end %>
    </div>
  </div>
</section>
