<!-- CALL TO ACTION Center -->
<section id="cta2">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<h2>Explore your music</h2>
					<%= link_to "CONNECT WITH SPOTIFY", '#', class: "btn btn-primary btn-cta" %>
				</div>
			</div>
		</div>
	</div>
</section>
