<!-- Opis -->
%section#description
  .container
    .row
      .col-md-12
        %h2.text-center 
          = t('main_site.description.title')
      .col-md-12
        .description-text
          %p.text-center
            = t('main_site.description.p1')
          %p.text-center
            = t('main_site.description.p2')
          %p.text-center 
            = t('main_site.description.p3')
