<!-- Opis -->
%section#description
	.container
		.row
			.col-md-12
				%h2.text-center Co Ci w duszy gra?
			.col-md-12
				.description-text
					%p.text-center
						Spolisty analizuje Twoje playlisty pod kątem słuchanej muzyki.
					%p.text-center
						Zebrane dane są przedstawione za pomocą interesującego grafu, obrazującego ilość piosenek z Twoich playlist z danego gatunku muzycznego.
					%p.text-center 
						Dzięki Spolisty możesz poznawać ludzi z podobną do Ciebie duszą muzyczną oraz dzielić się z nimi odkrytą muzyką.
