<!-- Opis -->
<section id="description">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center">Co Ci w duszy gra?</h2>
			</div>
			<div class="col-md-12">
				<div class="description-text">
					<p class="text-center">
						Spolisty analizuje Twoje playlisty pod kątem słuchanej muzyki.
					</p>
					<p class="text-center">
						Zebrane dane są przedstawione za pomocą interesującego grafu, obrazującego ilość piosenek z Twoich playlist z danego gatunku muzycznego.
					</p>
					<p class="text-center"> 
						Dzięki Spolisty możesz poznawać ludzi z podobną do Ciebie duszą muzyczną oraz dzielić się z nimi odkrytą muzyką.
					</p>
				</div>
			</div>
		</div>
	</div>	
</section>
