%section#features
	.container
		.row
			.item.text-center
				.feature.col-md-3.col-sm-6
					%i.fa.fa-headphones
					%p Słuchaj Muzyki
				.feature.col-md-3.col-sm-6
					%i.fa.fa-line-chart
					%p Analizuj rodzaj słuchanej muzyki
				.feature.col-md-3.col-sm-6
					%i.fa.fa-bell
					%p Odkrywaj muzykę z kręgu Twoich zainteresowań
				.feature.col-md-3.col-sm-6
					%i.fa.fa-users
					%p Poznawaj ludzi o zbliżonym guście muzycznym
