<!-- Features -->
<!-- 
Słuchaj Muzyki

Analizuj rodzaj słuchanej muzyki

Odkrywaj interesującą cię muzykę

Poznawaj ludzi o zbliżonym guście
 -->
<section id="features">
	<div class="container">
		<div class="row">
			<div class="item text-center">
				<div class="col-md-3 col-sm-6">
					<img src="http://lorempixel.com/245/184" alt="">
					<p>Słuchaj Muzyki</p>
				</div>
				<div class="col-md-3 col-sm-6">
					<img src="http://lorempixel.com/245/184" alt="">
					<p>Analizuj rodzaj słuchanej muzyki</p>
				</div>
				<div class="col-md-3 col-sm-6">
					<img src="http://lorempixel.com/245/184" alt="">
					<p>Odkrywaj muzykę z kręgu Twoich zainteresowań</p>
				</div>
				<div class="col-md-3 col-sm-6">
					<img src="http://lorempixel.com/245/184" alt="">
					<p>Poznawaj ludzi o zbliżonym guście muzycznym</p>
				</div>
			</div>
		</div>
	</div>
</section>

