%section#features
  .container
    .row
      .item.text-center
        .feature.col-md-3.col-sm-6
          %i.fa.fa-headphones
          %p 
            = t('main_site.features.first')
        .feature.col-md-3.col-sm-6
          %i.fa.fa-line-chart
          %p 
            = t('main_site.features.second')
        .feature.col-md-3.col-sm-6
          %i.fa.fa-bell
          %p 
            = t('main_site.features.third')
        .feature.col-md-3.col-sm-6
          %i.fa.fa-users
          %p 
            = t('main_site.features.fourth')
