<!-- Features -->
<!-- 
Słuchaj Muzyki

Analizuj rodzaj słuchanej muzyki

Odkrywaj interesującą cię muzykę

Poznawaj ludzi o zbliżonym guście
 -->
<section id="features">
	<div class="container">
		<div class="row">
			<div class="item text-center">
				<div class="feature col-md-3 col-sm-6">
					<i class="fa fa-headphones"></i>
					<p>Słuchaj Muzyki</p>
				</div>
				<div class="feature col-md-3 col-sm-6">
					<i class="fa fa-line-chart"></i>
					<p>Analizuj rodzaj słuchanej muzyki</p>
				</div>
				<div class="feature col-md-3 col-sm-6">
					<i class="fa fa-bell"></i>
					<p>Odkrywaj muzykę z kręgu Twoich zainteresowań</p>
				</div>
				<div class="feature col-md-3 col-sm-6">
					<i class="fa fa-users"></i>
					<p>Poznawaj ludzi o zbliżonym guście muzycznym</p>
				</div>
			</div>
		</div>
	</div>
</section>
