
<!-- Call to action -->
<section id="cta">
	<div class="container">
		<div class="row">
			<div class="join">
				<div class="col-md-6 col-sm-12">
					<p class="lead">Explore your music with friends</p>
				</div>
				<div class="col-md-6 col-sm-12">
					<%= link_to "CONNECT WITH SPOTIFY", user_omniauth_authorize_path(:spotify), class: "btn btn-primary btn-cta" %>	
				</div>
			</div><!-- /join -->
		</div><!-- /row -->
	</div><!-- /container -->
</section>

