
<!-- Call to action -->
%section#cta
  .container
    .row
      .join
        .col-md-6.col-sm-12
          %p.lead 
            = t('main_site.cta.title')
        .col-md-6.col-sm-12
          = link_to t('main_site.cta.button'), user_omniauth_authorize_path(:spotify), class: "btn btn-primary btn-cta", data: {disable_with: raw("<i class='fa fa-spinner fa-spin'></i> CONNECTING...")}