%section#menu
  %nav.navbar.navbar-default.navbar-fixed-top{ :role => "navigation" }
    .container
      <!-- Brand and toggle get grouped for better mobile display -->
      .navbar-header
        %button.navbar-toggle.collapsed{:type=>"button", "data-toggle" => "collapse", "data-target" => "#bs-example-navbar-collapse-1"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to "SPOLISTY", root_path, class: 'navbar-brand'

      .collapse.navbar-collapse#menu-navbar
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "#cta"} 
              = t('main_site.header.sign_in')
          %li
            %a{:href => "#features"} 
              = t('main_site.header.features')
          %li
            %a{:href => "#sub"} 
              = t('main_site.header.newslatter')
