<section id="sub">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="success-sub" class="text-center"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-12 text-center">
				<h2>Join our newsletter.</h2>
				<p>Be the first to hear about new product features </p>
			</div>
			<div class="col-md-6 col-sm-12">
				<%= form_tag(subscribers_create_path, method: "post", id: "subscribe", remote: true) do %>

					<div class="form-group">

						 <%= email_field(:email, :address, 
						 {
							id: "email",
							placeholder: "Write your email",
							class: 'form-control'
							 }) %>

						 <%= submit_tag "SUBSCRIBE", class: "btn btn-primary btn-block btn-cta", data: { disable_with: "Writing to list..." } %>
					</div>

				<% end %>
			</div>
		</div>
	</div>
</section>