<!-- HEADER -->
<section id="header">
	<!-- Center text -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title">
				<h4></h4>
				</div>
			</div>
		</div>
	</div>
	<!-- /container -->
</section>


<!-- Call to action -->
<section id="cta">
	<div class="container">
		<div class="row">
			<div class="join">
				<div class="col-md-6 col-sm-12">
					<p class="lead">Explore your music with friends</p>
				</div>
				<div class="col-md-6 col-sm-12">
					<%= link_to "CONNECT WITH SPOTIFY", '#', class: "btn btn-primary btn-cta" %>	
				</div>
			</div><!-- /join -->
		</div><!-- /row -->
	</div><!-- /container -->
</section>

<!-- Features -->
<!-- 
Słuchaj Muzyki

Analizuj rodzaj słuchanej muzyki

Odkrywaj interesującą cię muzykę

Poznawaj ludzi o zbliżonym guście
 -->

<section id="features">
	<div class="container">
		<div class="row">
			<div class="item text-center">
				<div class="col-md-3 col-sm-6">
					<img src="http://lorempixel.com/245/184" alt="">
					<p>Słuchaj Muzyki</p>
				</div>
				<div class="col-md-3 col-sm-6">
					<img src="http://lorempixel.com/245/184" alt="">
					<p>Analizuj rodzaj słuchanej muzyki</p>
				</div>
				<div class="col-md-3 col-sm-6">
					<img src="http://lorempixel.com/245/184" alt="">
					<p>Odkrywaj muzykę z kręgu Twoich zainteresowań</p>
				</div>
				<div class="col-md-3 col-sm-6">
					<img src="http://lorempixel.com/245/184" alt="">
					<p>Poznawaj ludzi o zbliżonym guście muzycznym</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Opis -->

<section id="description">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center">Co Ci w duszy gra?</h2>
			</div>
			<div class="col-md-12">
				<div class="description-text">
					<p class="text-center">
						Spolisty analizuje Twoje playlisty pod kątem słuchanej muzyki.
					</p>
					<p class="text-center">
						Zebrane dane są przedstawione za pomocą interesującego grafu, obrazującego ilość piosenek z Twoich playlist z danego gatunku muzycznego.
					</p>
					<p class="text-center"> 
						Dzięki Spolisty możesz poznawać ludzi z podobną do Ciebie duszą muzyczną oraz dzielić się z nimi odkrytą muzyką.
					</p>
				</div>
			</div>
		</div>
	</div>
		
</section>



<!-- Subskrypcja -->

<section id="sub">
<div class="container">
	<div class="row">
		<div class="col-md-12">

		<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">

			<div id="mc_embed_signup">
				<form action="//spolisty.us9.list-manage.com/subscribe/post?u=179c243faac3d800278ecd66e&amp;id=46acdc6891" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				    <div id="mc_embed_signup_scroll">
					
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
				    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;"><input type="text" name="b_179c243faac3d800278ecd66e_46acdc6891" tabindex="-1" value=""></div>
				    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-block"></div>
				    </div>
				</form>
			</div>

		</div>
	</div>
</div>

</section>