<!-- HEADER -->
<section id="header">
	<!-- Center text -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title">
				<h4></h4>
				</div>
			</div>
		</div>
	</div>
	<!-- /container -->
</section>


<!-- Call to action -->
<section id="cta">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="join">
					<p class="lead pull-left">Explore your music with friends</p>
					<%= link_to "Connect with Spotify", '#', class: "btn btn-primary btn-cta" %>			
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Features -->
<!-- 
Słuchaj Muzyki

Analizuj rodzaj słuchanej muzyki

Odkrywaj interesującą cię muzykę

Poznawaj ludzi o zbliżonym guście
 -->

<section id="features">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center"></h2>
			</div>
		</div>
	</div>
</section>