# Add configuration values here, as shown below.
#
# pusher_app_id: "2954"
# pusher_key: 7381a978f7dd7f9a1117
MAILCHIMP: b1bd6d470d0b689455d3fea0cf22a52c-us9
MAILCHIMP_LIST: 46acdc6891
SPOTIFY_CLIENT_ID: 30c077def34c4d648b17c54130220734
SPOTIFY_CLIENT_SECRET: a78fa39b272f4122aa39eb1e9c36ee97
PG_PASS: bvb
# pusher_secret: abdc3b896a0ffb85d373
# stripe_api_key: sk_test_2J0l093xOyW72XUYJHE4Dv2r
# stripe_publishable_key: pk_test_ro9jV5SNwGb1yYlQfzG17LHK
#
# production:
#   stripe_api_key: sk_live_EeHnL644i6zo4Iyq4v1KdV9H
#   stripe_publishable_key: pk_live_9lcthxpSIHbGwmdO941O1XVU
