@import "bootstrap_configuration";

.btn {
  color: $text-color;
  background-color: transparent;
  border-radius: 0;
  border-color: $brand-primary-dark;
  @include transition(0.6s);

  &:hover {
    @include transition(0.6s);
    -webkit-box-shadow: 0px 1px 1px red;
    -moz-box-shadow: 0px 1px 1px red;
    box-shadow: 0px 1px 1px red;
    background-color: transparent;
    border-color: $brand-light;
  }

  &:focus {
    background-color: $brand-light;
  }

  &:active {
    background-color: $brand-light;
    border-color: $brand-light;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks
    @include opacity(.65);
    @include box-shadow(none);
    background-color: $brand-primary-dark !important;
    border-color: $brand-primary-dark !important;
  }
}

/**** MENU ****/
#menu {

  .navbar {
    padding: 15px 0;
    border: none;

    @include backround-transparent($brand-primary-dark, $brand-light, 0.8, 0.8);
    
    #menu-navbar {
      a {
        padding-bottom: 10px;
        color: $text-color;
        font-weight: 600;
        &:hover {
          border-bottom: 2px solid $brand-primary-dark;
          margin-bottom: -2px;
        }
      }
    }

    .navbar-brand {
      color: $text-color;
      font-weight: 600;
      @include transition(1s);
      &:hover {
        @include transition(1s);
        color: lighten($brand-light, 40%);
      }
    }
  }  
}

#header {
	z-index: auto !important;
	padding: 260px 0px 520px;
	text-align: center;
	height: 100%;
  
  background: image-url('bg3.jpg') no-repeat center 0;
  background-size: cover;
  padding-bottom: -400px;


  .title {
  	h1 {
  		max-height: 956px;
  		font-size: 64px;
  		font-weight: 700;
  		padding-top: 150px;
  	}
  }
}

#cta {
  background-color: $body-bg-dark;
  padding-bottom: 30px;
  .join {
     padding: 30px 120px 30px 120px !important;
    .col-md-6 {
      text-align: center;
      font-family: $main-font;
     
      p {
        font-size: 30px;
        color: $text-color;
        margin: 0;
        padding: 10px 0;
      }
      .btn-cta {
        font-weight: bold;
        border-style: solid;
        border-width: 2px;
        padding: 20px 50px 20px 50px;
      }
    }
  }
}

#features {
  padding: $padding-standard;
  font-family: $main-font;
  background-color: $body-bg;

  img {
    border: 3px solid $brand-primary-dark !important;
    &:hover {
      border: 3px solid $brand-light !important;
    }
  }

  .text-center {
   color: $text-color;
  }

  p {
    font-size: 15px;
    margin: 15px 0 0 0;
  }

}


#description {
  padding: $padding-standard;
  font-family: $main-font;
  background-color: $text-color;
  h2 {
    font-family: $main-font;
    padding-bottom: 15px;
  }

  .description-text {
    p {
      font-size: 15px;
    }
  }
}

#cta2 {
  background: image-url('bg12.png') repeat scroll center top/cover transparent;;
  background-repeat: repeat-y;
  padding: $padding-standard;
  font-family: $main-font;

  h2 {
    color: $text-color;
    padding-bottom: 15px;
  }
  .btn-cta {
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    padding: 20px 50px 20px 50px;
  }
}

#sub {
  color: $text-color;
  background-color: $body-bg-dark;
  padding: $padding-standard;
  font-family: $main-font;

  #email {
    margin: 10px 0;
  }

  .form-control {
    &:focus {
      border-color: $brand-light;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.075) inset, 0 0 18px rgba(0, 63, 131, 0.6);
      
    }
  }

  .btn-cta {
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
  }
  
  #success-sub {
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 20px;
  }
}


/* --- NAVIGATION --- */

header {
  position: fixed;
  width: 120px;
  height: 100%;
  display: block;
  float: left;
  z-index: 1000;
  text-align: center;
}

.nav-black {
  background: $body-bg-dark;
  color: $body-bg-light;

  .my-logo {
     padding: 10px 0;
    a {
      color: lighten($brand-light, 40%);
      text-decoration: none;
    }
  }

  .me-nav {
    li {
      a {
        color: $body-bg-light;
        &:hover {
          background: none;
          color: $text-color;
        }
        &:focus {
          background: none;
        }

        .fa {
          font-size: 25px;
        }


        .nav-text {
          display: block;
          overflow: hidden;
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  } 
}


.copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 30px;
  padding-right: 15px;
  font-size: 10px;
  
  &:before {
    position: absolute;
    top: -30px;
    right: 15px;
    height: 2px;
    width: 30px;
    display: block;
    content: " ";
  }
}

.main-field {
  padding-left: 160px;
}