@import "bootstrap_configuration";


body {
  background: image-url('bg12.png') repeat scroll center top/cover transparent;
}
/* --- Button --- */
.btn {
  outline: none;
  color: $text-color;
  background-color: transparent;
  border-radius: 0;
  border-color: $brand-primary-dark;
  @include transition(0.6s);

  &:hover {
    @include transition(0.6s);
    -webkit-box-shadow: 0px 1px 1px red;
    -moz-box-shadow: 0px 1px 1px red;
    box-shadow: 0px 1px 1px red;
    background-color: transparent;
    border-color: $brand-light;
  }

  &:focus {
    background-color: $brand-light;
  }

  &:active {
    background-color: $brand-light;
    border-color: $brand-light;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks
    @include opacity(.65);
    @include box-shadow(none);
    background-color: $brand-primary-dark !important;
    border-color: $brand-primary-dark !important;
  }
}

/* --- flash messages --- */

.alert {
  margin: 20px 0;
  border-radius: 0;
  background-color: transparent;
  color: $text-color;
  border-width: 4px;
  border-color: $brand-light;
}

/**** MENU ****/
#menu {

  .navbar {
    padding: 15px 0;
    border: none;

    @include backround-transparent($brand-primary-dark, $brand-light, 0.8, 0.8);
    
    #menu-navbar {
      a {
        padding-bottom: 10px;
        color: $text-color;
        font-weight: 600;
        &:hover {
          border-bottom: 2px solid $brand-primary-dark;
          margin-bottom: -2px;
        }
      }
    }

    .navbar-brand {
      color: $text-color;
      font-weight: 600;
      @include transition(1s);
      &:hover {
        @include transition(1s);
        color: lighten($brand-light, 40%);
      }
    }
  }  
}

#header {
	z-index: auto !important;
	padding: 260px 0px 520px;
	text-align: center;
	height: 100%;
  
  background: image-url('bg3.jpg') no-repeat center 0;
  background-size: cover;
  padding-bottom: -400px;


  .title {
  	h1 {
  		max-height: 956px;
  		font-size: 64px;
  		font-weight: 700;
  		padding-top: 150px;
  	}
  }
}

#cta {
  background-color: $body-bg-dark;
  padding-bottom: 30px;
  .join {
     padding: 30px 120px 30px 120px !important;
    .col-md-6 {
      text-align: center;
      font-family: $main-font;
     
      p {
        font-size: 30px;
        color: $text-color;
        margin: 0;
        padding: 10px 0;
      }
      .btn-cta {
        font-weight: bold;
        border-style: solid;
        border-width: 2px;
        padding: 20px 50px 20px 50px;
      }
    }
  }
}

#features {
  padding: $padding-standard;
  font-family: $main-font;
  background-color: $body-bg;
  
  .feature {
    color: $body-bg-light;
    &:hover {
      @include transition(0.6s);
      color: $text-color;
    }
    .fa {
      
      font-size: 120px;
      padding-bottom: 20px;
      @include transition(0.6s);
    }
  }

  .text-center {
   color: $text-color;
  }

  p {
    font-size: 15px;
    margin: 15px 0 0 0;
  }

}


#description {
  padding: $padding-standard;
  font-family: $main-font;
  background-color: $text-color;
  h2 {
    font-family: $main-font;
    padding-bottom: 15px;
  }

  .description-text {
    p {
      font-size: 15px;
    }
  }
}

#cta2 {
  background: image-url('bg12.png') repeat scroll center top/cover transparent;
  background-repeat: repeat-y;
  padding: $padding-standard;
  font-family: $main-font;

  h2 {
    color: $text-color;
    padding-bottom: 15px;
  }
  .btn-cta {
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    padding: 20px 50px 20px 50px;
  }
}

#sub {
  color: $text-color;
  background-color: $body-bg-dark;
  padding: $padding-standard;
  font-family: $main-font;

  #email {
    margin: 10px 0;
  }

  .form-control {
    &:focus {
      border-color: $brand-light;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.075) inset, 0 0 18px rgba(0, 63, 131, 0.6);
      
    }
  }

  .btn-cta {
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
  }
  
  #success-sub {
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 20px;
  }
}


/* --- NAVIGATION --- */

header {
  position: fixed;
  width: 120px;
  height: 100%;
  display: block;
  float: left;
  z-index: 1000;
  text-align: center;
}

.nav-black {
  background: $body-bg-dark;
  color: $body-bg-light;
  
  #current_user_link {
    img {
      border-color: $body-bg-light;
      background: $body-bg-light;
      padding: 1px;
      &:hover {
        border-color: $text-color;
        background: $text-color;
      }
    }
  }
  .my-logo {
     padding: 10px 0;
     font-weight: 600;
    a {
      color: lighten($brand-light, 20%);
      text-decoration: none;
    }
  }

  .me-nav {
    li {
      img {
        max-width: 50px;
        max-height: 50px;
      }
      &:last-child {
        position: absolute;
        bottom: 0;
        padding: 10px 15px;
        width: 100%;

        .fa {
          margin-top: 10px;
          font-size: 17px;
        }

        .fa-user {
          padding: 4px 10px;
          background: $body-bg-dark;
        }

        a {
          &:hover {
            background: none;
            color: $text-color;
            border-left: none;
            margin-left: 0;
          }
        }
        &:hover {
          border-left: none;
          margin-left: 0;
        }
      }

      &:hover {
        border-left: 4px solid lighten($brand-light, 20%);
      }

      a {
        font-size: 12px;
        color: $body-bg-light;

        &:hover {
          background: none;
          color: $text-color;
          margin-left: -4px;
        }

        &:focus {
          background: none;
        }

        .fa {
          font-size: 25px;
        }

        .nav-text {
          display: block;
          overflow: hidden;
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  } 

}

/* --- MAIN CONTENT --- */

.main-field {
  padding-left: 160px;
  margin: 0;
    position: absolute;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.page-wrapper {

}

/* --- USER PROFILE PAGE --- */


.main-field {
  padding-left: 120px;
  color: $text-color;
  
  #user_profile {
    .main_user {
      padding: $padding-standard 0;
      /* border-bottom: 1px solid $brand-light; */
      .fa {
        font-size: 125px;
      }
      .fa.img-thumbnail {
        padding: 0 40px;
      }

      .profile-text {
        padding: 15px 15px 0 0;
        font-size: 25px;
        font-weight: 550;

        .btn {

          color: $text-color;
          background-color: transparent;
          border-width: 2px;
          border-radius: 0;
          border-color: $brand-primary-dark;
          @include transition(0.6s);

          &:hover {
            @include transition(0.6s);
            background-color: transparent;
            border-color: $brand-light;
            box-shadow: none;
          }

          &:focus {
            background-color: $brand-light;
          }

          &:active {
            background-color: $brand-light;
            border-color: $brand-light;
          }

          &.disabled,
          &[disabled],
          fieldset[disabled] & {
            pointer-events: none; 
            @include opacity(.65);
            @include box-shadow(none);
            background-color: $brand-primary-dark !important;
            border-color: $brand-primary-dark !important;
          }
        }
        .traveler {
          font-size: 15px;
          font-weight: 300;
          padding-top: 55px;
        }
      }
    }
    .genre-profile {
      background-color: $body-bg;
      padding: $padding-standard 0;
      margin-bottom: 100px;
      height: 100%;
      .nav {
          border: none;
        ul {
          width: 100%;
          justify-content: center;
        }
        li {
          padding: 0;
          a {
            padding: 20px 0;
            color: $body-bg-light;
            border: none;
            text-transform: uppercase;
            font-weight: 600;
            @include transition(0.6s);

            &:hover {
              @include transition(0.6s);
              color: $brand-primary-dark;
              background-color: transparent;
            }

            &:focus {
              border: none;
              background-color: $brand-light;
              color: $brand-primary-dark;
            }

            i {
              padding-right: 10px;
            }
          }
        }
        li.active {
          a {
            color: $text-color;
            background-color: $brand-primary-dark;
            border-width: 0;
            outline:none
          }
        }
      }    
    }
  }

  .tab-content {
    padding: $padding-standard 0;
  }

  .img-thumbnail {
    background-color: $body-bg;
    border: none;
    @include transition(1s);

    &:hover {
      @include box-shadow(0px 0px 10px rgba($brand-light,1));
      @include transition(1s);
      background-color: $brand-light;
    }
  }

  #usernav {
    background-color: $text-color;
    a {
      border-radius: 0 0 0 0;
    }

    a:last-child {
      margin-right: 0px;
    }
  }

  #userplaylists {
    ul {
      padding-right: 40px;
      list-style-type: none;
      li {

        color: $body-bg-light;
        border-bottom: 1px solid $body-bg-dark;
        padding: 10px 2px;
        
        &:hover {
          color: $text-color;
          background-color: $body-bg-dark;
        }

        p {
          margin: 0;
        }
      }
    }
    @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) { 
      ul {
        li {
          padding-bottom: 30px;
        }
      }
    }

    .usrplay {
      .showlist {
        visibility: hidden;
      }
      &:hover {
        .ownerlist{
          background-color: $text-color;
          i {
            color: $body-bg-dark;
          }
        }
        .count_of_tracks {
          color: $body-bg-dark;
        }
        .showlist {
          visibility: visible;
        }
      }

      .pull-left {
        margin-left: 5px;
      }

      .pull-right {
        margin-right: 5px;
      }
      .count_of_tracks {
        float: left;
        color: $body-bg-light;
        font-weight: 600;
        background-color: $text-color;
        width: 50px;
        margin: 0px 0px;
      }

      .ownerlist {
        background-color: $body-bg-dark;
        width: 25px;
        margin: 0px 10px;
        padding: 0px;
        float: left;
        i {
          color: $body-bg-light;
        }
      }

      .ownerplaylist {
        background-color: $body-bg-dark;
        width: 25px;
        margin-right: 0;
        margin-left: 10px;
        padding: 0px;
        float: left;
        i {
          color: $body-bg-light;
        }
      }

    }
    .ulliststyle {
      padding: 0;
      margin: 0;
      li {
        
      }

      li:first-child {
        margin-top: 10px;
      }

      li:last-child {
        border-bottom: none;
      }

      .play_track {
        margin-left: -30px;
      }

    }
  }
}

/*** PLAYLIST SHOW PAGE ***/

.playlist_wrapper {
  margin: 25px 0;
  margin-bottom: 100px;
  color: $text-color;
  font-family: $main-font;
  .table-hover {
    > tbody > tr:hover {
      background-color: $body-bg-dark;
    }
  }
  .table {
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          padding: $table-cell-padding;
          line-height: $line-height-base;
          vertical-align: top;
          border-top: 1px solid $brand-light;
        }
      }
    }
    
  }

  .playlist_name {
    font-size: 60px;
  }

  .createdby {
    color: $body-bg-light;
    font-size: 17px;
    font-weight: 100;
    padding: 10px 0;
    margin: 25px 0;
    border-top: solid $body-bg-dark 2px;
    border-bottom: solid $body-bg-dark 2px;
  }

  .container {
    position: absolute;
    .navbar {
      height: 70px;
      position: fixed;
      background: none;
      border: none;
    }
  }

  iframe {
    width: 640px;
  }


  @media (min-width: 0) and (max-width: $screen-sm-min) { 
    iframe {
      width: 250px !important;
    }
  } 

  @media (min-width: 0) {
    iframe {
      margin-right: 0 !important;
    }
  }
}

.signupwraper {
  border: 5px solid #230E2F;
  margin: 120px;
  h2 {
    color: $text-color;
    padding-bottom: 40px;
  }
  .fa {
    color: $text-color;
    font-size: 240px;
    padding-bottom: 40px;
    @include transition(0.9s);

    &:hover {
      @include transition(0.9s);
      color: $brand-primary-dark;
    }
  }
}

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: block !important;     /* undo display:none          */
    height: 0 !important;          /* height:0 is also invisible */ 
    overflow-y: hidden !important; /* no-overflow                */
}
.tab-content > .active,
.pill-content > .active {
    height: auto !important;       /* let the content decide it  */
} /* bootstrap hack end */