#header {
	z-index: auto !important;
	padding: 260px 0px 320px;
	text-align: center;
	height: 100%;
  
  background: image-url('tomek2.jpg') no-repeat center center;
  background-size: cover;


  .title {
  	h1 {
  		max-height: 956px;
  		font-size: 64px;
  		font-weight: 700;
  		padding-top: 150px;
  	}
  }
}