<% if @review.errors.any? %>
  $(".review_errors ul").empty();
  $(".review_errors").show();
  
  <% @review.errors.each do |atr, error| %>
    $(".review_errors ul").append("<li><%= atr %> - <%= error %></li>");
  <% end %>

<% else %>

  $(".review_errors").hide();
  $("#new_review").hide();
  $(".review_success").show();
  $(".review_success").html("Thanks for your review!");
  $("#playlist_reviews ul").prepend("<%= j render(:partial => 'reviews/review', :locals => { :review => @review } ) %>");
  var stars = $('.review_rating').data("score");
  for (var n = 0; n < Math.round(stars); ++ n) {
    $('.single-review .review_rating').eq(0).append("<img src='/assets/star-on.png' title='good'>");
  }

  var badstars = 10 - Math.round(stars);
  for (var n = 0; n < Math.round(badstars); ++ n) {
    $('.single-review .review_rating').eq(0).append("<img src='/assets/star-off.png'>");
  }
  $('.single-review .review_rating').eq(0).find("img").css( "margin-right", "5px" );
  
<% end %>